:root {
  --text-color: #e0dada;
  --red-color: #ef5350;
  --green-color: #43A047;
  --btn-bg-color: #0288d1;
  --brick-color: #8b4f39;
  --brick-texture: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="42" height="44" viewBox="0 0 42 44"><g  fill="none" fill-rule="evenodd"><g fill="%239C92AC" fill-opacity="0.4"><path d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/></g></g></svg>');
  --error-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="yellow"><path d="M16.971 0h-9.942l-7.029 7.029v9.941l7.029 7.03h9.941l7.03-7.029v-9.942l-7.029-7.029zm-4.971 19.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm.5-4.25h-1l-1-10h3l-1 10z"/></svg>');
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

[cloak] {
  display: none !important;
}

body {
  display: grid;
  place-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: var(--brick-color); 
  background-image: var(--brick-texture);
  background-repeat: repeat;
  -webkit-touch-callout: none;
  overscroll-behavior: none;
  color: var(--text-color);
  user-select: none;
  height: 100vh;
  width: 100vw;
}

main, 
game-over {
  display: grid;
  grid-template-rows: 40vh 53vh;
  grid-template-columns: 100%;
  padding: 12px;
  width: 100%;
  height: 100%;
}

main header,
main footer,
main footer button{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main header {
  box-shadow: -1px 2px 2px 0px #555, inset 0 0 10px 0 #555;
  background-color: #497959;
  border: #B78240 solid 10px;
  border-radius: 10px;
  padding: 20px 30px;
  overflow-y: auto;
  height: 100%;
}

main content {
  font-size: 21px;
  line-height: 40px;
  text-align: center;
  color: #c9e7f3;
  height: 100%;
  display: flex;
  align-items: center;
}

main footer {
  justify-content: space-evenly;
}

main footer button {
  text-transform: uppercase;
  background-color: var(--btn-bg-color);
  box-shadow: 0 8px 6px -6px #242323;
  will-change: transform;
  cursor: pointer;
  transition: none;
  outline: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  height: 60px;
  width: 100%;
  border: none;
}

main footer button:active {
  transform: translateY(3px);
}

main footer button[data-correct="true"] {
  background-color: var(--green-color);
}

main footer button[data-correct="false"] {
  background-color: var(--red-color);
}

loader {
  display: block;
  background: inherit;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

loader::after {
  will-change: transform;
  animation: spin 1.1s infinite linear;
  border-color: rgba(255,255,255,.3);
  border-top-color: white;
}

on-error:after,
loader::after {
  content: "";
  border-width: 9px;
  border-style: solid;
  border-radius: 50%; 
  position:absolute;
  margin: auto;
  height: 100px;
  width: 100px;
  bottom: 0; 
  left: 0; 
  right: 0;
  top: 0;
}

game-over {
  grid-template-rows: 20vh 30vh 20vh 20vh;
  place-items: center;
}

game-over[data-win="true"] {
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  background-repeat: repeat;
}

game-over score-text {
  font-weight: 400;
  font-size: 2em;
}

game-over score {
  font-weight: 200;
  font-size: 4em;
  color: white;
}

on-error button,
game-over button {
  background-color: var(--btn-bg-color);
  box-shadow: 0 8px 6px -6px black;
  font-size: 19px;
  color: white;
  outline: none;
  border: none;
  width: 85%;
  height: 60px;
  z-index: 1;
}

game-over button:active {
  transform: translateY(3px);
}

on-error button,
game-over button[share] {
  background-color: #e65100;
}

game-over button[disabled] {
  color: #e6dada;
}

game-over label {
  display: none;
  color: var(--red-color);
  text-align: center;
  font-size: 26px;
  z-index: 99;
}

game-over stars {
  color: #f9a825;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15vw;
}
game-over stars:before {
  content: "\2605";
}

on-error {
  display: grid;
  grid-template-columns: 100vw;
  place-items: center;
  will-change: opacity;
  animation: fadeIn 0.4s both;
  height: 100vh;
  font-size: 26px;
  font-weight: 600;
  z-index: 2;
}
on-error:after {
  border-color: var(--red-color);
  background-color: var(--red-color);
  background-image: var(--error-icon);
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (orientation: landscape) {
  main {
    grid-gap: 10px;
    grid-template-rows: 90vh;
    grid-template-columns: 45vw 50vw;
    justify-content: space-around;
  }

  game-over button,
  on-error button {
    width: 50%;
  }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    main content {
      font-size: 50px;
      line-height: 70px;
    }

    game-over button,
    main footer button {
      height: 90px;
      font-size: 30px;
    }

    game-over stars {
      font-size: 50px;
    }
}